:root {
    --col1 : #145ca050;
    --col2 : #0C2D48;
    --col3 : #0C2D48;
    --col4 : #B1D4E0;
  }
  
.container {
    width: 15%;
    height: 100vh;
    display: flex;
    flex-flow: column;
}
.header {
    height: 15%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--col1);
    margin-left: 20px;
}

.title {
    margin-left: 15px;
}
.title h3 {
    color: var(--col2);
    padding: 0;
    margin: 0;
}
.title p{
    color: var(--col1);
    padding: 0;
    margin: 0;
}
.logo {
    width: 55px;
}
.menu {
    height: 70%;
}
.footer {
    height: 15%;
    display: flex;
    flex-flow: column;
}
.footer h4 {
    margin: 10px 20px;
}