.container {
    background-color: #bfd7ed30;
    width: 85%;
    
}
.calculator {
    display: flex;
    justify-content: center;
    width: 100%;
}
.calc {
    background-color: white;
    border-radius: 25px;
    width: 90%;
    display: flex;
    overflow: hidden;
}
.left {
    width: 50%;
    margin: 20px 0;
    border-right: 1px solid #bfd7ed;
}
.right {
        width: 50%;
}
