.changeList {
    width: 90%;
}
.mainChange {
    text-align: center;
    margin: 50px 0 20px 0;
}
.changeList {
    width: 100%;
    display: flex;
    justify-content: center;
}
.listTitle {
    width: 90%;
}
.table tr {

}
.table td {
    border-bottom: 1px solid #003B73;
    width: 100%;
    padding: 15px 0;
    margin: 20px;
}