.container {
    display: flex;
    flex-flow: column;
    margin-bottom: 70px;
}
.cards {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.title {
    margin-left: 65px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0074B7;
}