.container {
    margin: 25px 0 50px 0;
}
.serachBox {
    width: 100%;
    display: flex;
    justify-content: space-around;

}
.serachBox input {
    background-color: #b1d4e030;
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 50px;
    padding-left: 20px;
    color: #003B73;
    
}
.serachBox input::placeholder {
    color: #BFD7ED;
}
.serachBox input:focus{
    background-color: white;
}

.serachBox button {
    background-color: #003B73;
    color: white;
    width: 15%;
    height: 40px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.serachBox button:hover{
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: #003B73;
}
.searchbar {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 70%;
}
.searchlist {
    border-radius: 25px;
    background-color: #003B7370;
    color: white;
    width: 80%;
}