.search{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;

}
.container {
    display: flex;
    width: 80%;
    margin: 10px;
    cursor: pointer;
}
.search:last-child{
    border: none;
}
.image {
    width: 30px;
    height: 30px;
    position: relative;
    top: 8px;
    margin-right: 20px;
}