@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*:before , *:after {
  box-sizing: border-box;
}
* {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}
